.main_regist{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_regist_wrap{
    height: 100%;
    width: 90%;
    min-height: 85vh;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}